
    @font-face {
      font-family: 'alefont';
      src: url('./font/IBMPlexMono-Regular.ttf');
      font-display: block;
    }

    @font-face {
      font-family: 'alefont';
      src: url('./font/IBMPlexMono-Bold.ttf');
      font-weight: bold;
      font-display: block;
    }

    @font-face {
      font-family: 'code';
      src: url('./font/DejaVuSansMono-Bold.ttf');
      font-weight: bold;
      font-display: block;
    }
        @font-face {
      font-family: 'code_block';
      src: url('./font/DejaVuSansMono.ttf');
      font-display: block;
    }

    * {
       font-size: 14px;
    }

    html {
      font-family: alefont,  monospace;
      max-width: 1000px;  /* For Desktop PC (see @media for Tablets/Phones) */
      padding-left: 2%;
      padding-right: 3%;
      margin: 0 auto;
      background:whitesmoke;
  	} 

  	a {
      color: black;
      /* font-weight: bold; */
    }

    footer {
        text-align: center;
    }

    nav a {
      color: black;
      font-weight: bold;
    }

  img {
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 100%; 
    height: auto; 
    margin-bottom:2ch;
    border: 1px black solid;
    }

    blockquote {
    background-color: #f3f3f7;
    border: dashed 1px grey;
    width: 97.5%;
    font-style: italic;
    text-align: justify;
    padding-left: 2ch;
    padding-right: 1ch;
    padding-top: 2ch;
    padding-bottom: 2ch;
    margin: 0ch;
    margin-bottom: 2ch;
    margin-top: 0ch;
}

    p {
      margin-top: 2ch;
      text-align: justify;
      line-height: 1.6;

    }

    figure { 
      height:auto;  
      margin-right: 3ch;
      margin-left: 3ch;
    }

    figure img { 
      margin-bottom: 1ch;
      margin-top: 2ch;
    }

    figcaption {
      text-align: center;
      font-size: 11px;
      margin-bottom: 2ch;
    }

    figcaption i {
      font-size: 12px;
    }

    sup {
      vertical-align: 0.3em;
      font-size: 0.65em;
    }

    li {
      text-align: justify;
      margin-top: 1ch;
    }
    
    center {
    display: block;
    text-align: -webkit-center;
    unicode-bidi: isolate;
    }

    pre {
      font-family: code_block, monospace;
      background-color: white; 
      border: 1px solid Black;
      padding-left: 2%;
      padding-right: 2%;
      padding-top: 3ch;
      padding-bottom: 2ch;
      overflow: hidden;
    }

    div {
    display: block;
    unicode-bidi: isolate;
}

div nav {
      border: 1px solid;
      border-color: grey;
      border-style:solid;
      padding: 1.5ch;
      background-color: ghostwhite;
}

    h1,h2,h3{
      font-weight:bold ;      
      text-transform: uppercase;
      margin-top: 5ch;
    }

    code {
      font-family: code, monospace;
    background-color: #d1d1d1;
    border-radius: 0.5ch;
    padding-left: 0.5ch;
    padding-right: 0.5ch;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    border-color: lightgray;
    white-space: normal;
    font-variant: normal;
}

table.tbody {
    display: table-row-group;
    vertical-align: top;
    unicode-bidi: isolate;
    border-color: inherit;
}

table.usb, table.usb th, table.usb td {
    border: 1px solid black;
    border-collapse: collapse;
    /* font-size: 14px; */
}

table.usb td {
    padding-right: 0.5ch;
    padding-top: 0.5ch;
    padding-left:1ch;
    padding-bottom: 0.5ch;
    text-align: left;
    background-color: white;
}

table.usb a {
  font-size: 14px;
}

math {
  math-style: compact;
}

table.usb th {
    padding-top: 0.6ch;
    padding-bottom: 0.6ch;
    font-weight: bold;
    background-color:lavender;
    text-align: center;
    text-transform: uppercase;
}

nav div img {
  border: none;
  width: 3ch;
  height: auto;
  text-align: left;
  vertical-align: middle;
  padding-left: 1ch;
  padding-right: 1ch;
  margin-bottom: 2px;
}

/* For small screen devices */

      @media (max-width: 500px) { 
        
        * {
          font-size: 12px; 
        }

        .title {
          text-decoration: none;
        }

        img.pixel, canvas.pixel {
          image-rendering: pixelated;
          image-rendering: -moz-crisp-edges;
          image-rendering: crisp-edges;
        }

        .trivia {
          border-left: 1px black solid;
          padding-left: 1ch;
        }

        .trivia::before {
        font-weight: bold;
        text-decoration: underline;
        padding-right: 1ch;
        content: "Trivia:";
        }
      
        table.hard , table.hard th, table.hard td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        table.hard  td {
          padding-right: 1ch;
          padding-top: 0.8ch;
          padding-bottom: 0.8ch;
          text-align: right;
        }

        table.hard th {
          font-weight: bold;
          background-color: #BBB;
        }

        table.usb, table.usb th, table.usb td, table.usb td a {
          font-size: 11px;
        }

        figcaption i {
          font-size: 10px;
        }

      }
